canvas {
    border: 1px solid black;
    background-image: url("../img/blackness.png");
    background-repeat: repeat;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: 100px 100px;
}

body {
    background-color: black;
    /*-ms-overflow-style: none;
    overflow: -moz-scrollbars-none*/
}

#blackBox {
  background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

#devTools {
  display: none; 
}

#controls {
  color: white;
  font-family: 'Metal Mania', cursive;
  font-size: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

#scrollHide {
  width: 100%;
 height: 20px;
 position: absolute;
 bottom: 0;
 background-color:black;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}
